<%= form_for ([@post, @post.comments.build])do |form| %>


  <div class="form-group">
    <%= form.label :content,"Comment" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit  class:"btn btn-primary" %>
  </div>
<% end %>



<!-- このスクリプトは、bootatrapでドロップダウンなどを出すときに必要-->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script>
           $('.dropdown-toggle').dropdown()
  </script>