<h3>犬一覧</h3>
 <div class="center">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="thumbnail message"> 
            <% if post.image? %>
              <%= link_to (image_tag post.image.url), post  %>
            <% end %>       
         
          <div class="caption">
          <h2 clas="message-title"><%= post.title %></h2>   
          <p><%= link_to "View message", post_path(post),class:"btn btn-default" %></p>
        
     
           <span class="fa fa-heart like-btn"></span>
        </div>
       </div> 

      </div>
    <% end %>
  </div>

</div>
